/* ----- GENERAL CSS ----- */
*,
html {
  margin: 0;
  padding: 0;
}

.site {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font: 15px monospace, sans-serif;
  background-color: rgba(128, 128, 128, 0.3);
}

/* ----- HEADER CSS ----- */

.wholeHeader {
  border-bottom: 3px solid black;
  margin-bottom: 10px;
  background-color: rgba(148, 148, 148, 0.6);
  min-height: 7vh;
  display: flex;
}

.logoHeader {
  border: 10px solid black;
  border-style: ridge;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0.1%;
  margin: 0.1%;
  min-width: 20%;
  background-image: linear-gradient(
      rgba(222, 222, 222, 0.6),
      rgba(222, 222, 222, 0.2)
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3' viewBox='0 0 8 8'%3E%3Cg fill='%23fff' fill-opacity='.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.logoTextHeader {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2.2rem;
  text-shadow: 0px 2px 3px #555;
}

/* ----- MAIN COMPONENT CSS ----- */

.wholeMain {
  flex: 1 0 auto;
  min-height: auto;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ----- FOOTER CSS ----- */

.wholeFooter {
  margin-top: 1%;
  min-height: 7vh;
}

.breakFooter {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}
.allLogosFooter {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.oneLogoFooter {
  cursor: pointer;
  height: 48px;
  width: auto;
}

/* ----- BUTTON CSS ----- */

.btn {
  flex: 1;
  padding: 6px 20px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  background-image: linear-gradient(
      rgba(148, 148, 148, 0.6),
      rgba(148, 148, 148, 0.2)
    ),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3' viewBox='0 0 8 8'%3E%3Cg fill='%23fff' fill-opacity='.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
  transition: background-color 0.2s ease-out;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5),
    0 1px 0 rgba(255, 255, 255, 0.3) inset;
}
.btn:active {
  top: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}
.btn[disabled] {
  cursor: default;
  position: static;
  box-shadow: none;
}
